.scrolling-container {
  max-width: 100%;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scrolling-wrapper {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  gap: 2rem;
}

.scrolling-container[data-animated="true"] .scrolling-wrapper {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}
